{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            src="{{ object.image|mediapath }}"
                            <rect width="100%" height="100%" fill="#55595c"/>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                        <div class="card-body">
                            <p class="card-text">Наименование: {{ object.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p class="card-text">Описание: {{ object.description|truncatechars:100 }}
                                </div>
                                <div class="btn-group">
                                    <p class="card-text">Цена за покупку: {{ object.price }}
                                </div>
                                <div class="btn-group">
                                    <p class="card-text">Дата создания: {{ object.date_of_creation }}
                                </div>
                                <div class="btn-group">
                                    <p class="card-text">Дата последнего изменения: {{ object.last_modified_date }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
{% endblock %}