{% extends 'main/base.html' %}
{% block content %}

  <div class="card-body">
      <form method="post" action="" class="form-floating">
          {% csrf_token %}
          <div class="mb-3">
              <label for="code">код</label>
              <input type="text" name="code" class="form-control" id="code" placeholder="Введите код" required>
              <input type="submit" class="btn btn-lg btn-block btn-outline-primary" value="Отправить">
          </div>
      </form>
  </div>>
{% endblock %}