<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text">{{ object.name }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'catalog:product-detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">К продуктам</a>
                    <a href="{% url 'catalog:blog-entry-detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Блоговая запись</a>

                </div>
            </div>
        </div>
    </div>
</div>